---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollo de Proyectos Personales",
    description:
      "Desarrollo de proyectos personales y colaboraciones con otros desarrolladores. Creación de aplicaciones web con tecnologías como Astro, React, Spring Boot entre otras.",
    link: "#",
  },
  {
    date: "Diciembre 2021",
    title: "Asistente de Soporte Técnico",
    description:
      "Soporte técnico a usuarios de la plataforma de gestión de contenidos. Creación de documentación y guías de uso. Formación de nuevos empleados en el uso de la plataforma.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
